@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(56, 56, 56);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 300%;
}

:any-link {
    color: wheat;
}

.game {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 30%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.lose, .won {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 25%;
    background-color: rgba(59, 59, 59, 0.5);
    text-align: center;
    display: none;
}