body {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
}

h1 {
    text-align: center;
}

#events {
    font-size: 25px;
    text-align: center;
    list-style: none;
    position: relative;
    left: -20px;
}

#events li a {
    text-shadow:
        0 0 0.7px #fff,
        0 0 1.0px #fff,
        0 0 2.1px #fff,
        0 0 4.2px #0ff,
        0 0 8.2px #0ff,
        0 0 9.2px #0ff,
        0 0 10.2px #0ff,
        0 0 15.1px #0ff;
    transition: all 500ms ease;
}

#events li a:hover {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0ff,
        0 0 82px #0ff,
        0 0 92px #0ff,
        0 0 102px #0ff,
        0 0 151px #0ff
}

:any-link {
    color: white;
    text-decoration: none;
}