#mid #download {
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    background-color: rgba(7, 129, 27, 0.5);
    height: 7vh;

    transition: background-color 500ms ease-in-out;
}

#mid #download:hover {
    background-color: rgba(44, 219, 73, 0.5);
}